.player-controls {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10px;
  background: linear-gradient(to top, #00b3e4, color(#00b3e4 whiteness(50%)));

  &[data-particles] {
    & canvas {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  & canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 3s;
    transform: scaleY(.1);
    transform-origin: bottom center;
    opacity: 0;
  }
}

.player-controls__content-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
}

.player-controls__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: auto;

  &--empty {
    background-image: url('../images/player-controls.logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.player-controls__info-header {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: color(#fff alpha(.8));
  line-height: 2;
}

.player-controls__info-header-artist {
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 700;
}

.player-controls__info-header-track {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 100;
}

.player-controls__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-duration: .3s;
  opacity: 1;

  @media screen and (--mobile) {
    display: block;
  }

  &[disabled] {
    cursor: pointer;
    pointer-events: none;
    opacity: .5;
  }
}

.player-controls__nav-buttons-wrap {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  margin-right: 20px;

  @media screen and (--mobile) {
    justify-content: center;
    width: 100%;
  }
}

.player-controls__nav-button {
  display: block;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  transition-property: opacity, border-color, transform;
  opacity: .8;
  color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;
  font-size: 0;

  @media screen and (--mobile) {
    width: 80px;
    height: 80px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:active {
    transform: scale(.9);
  }

  &:hover {
    opacity: 1;
    border-color: color(#fff alpha(.1));
  }

  &--type {
    @each $i in (prev, next, play, pause) {
      &--$(i) {
        background-image: url('../images/player-controls.$(i).svg');
      }
    }
  }
}

.player-controls__nav-indicators-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.player-controls__diration {
  display: flex;
  align-items: center;
  width: 70%;

  @media screen and (--mobile) {
    width: 60%;
  }
}

.player-controls__diration-count {
  white-space: nowrap;
  color: color(#fff alpha(.8));
  font-size: 12px;
  font-weight: 100;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.player-controls__volume {
  display: flex;
  align-items: center;
  width: 30%;
  padding-left: 20px;
  color: #fff;

  @media screen and (--mobile) {
    width: 40%;
  }
}

.player-controls__volume-button {
  display: block;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition-property: opacity, transform, border-color;
  opacity: .8;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: url('../images/player-controls.volume.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;

  &:hover {
    opacity: 1;
    border-color: color(#fff alpha(.1));
  }

  &--mute {
    background-image: url('../images/player-controls.mute.svg');
  }
}

.player-controls__range {
  overflow: visible;
  width: 100%;
  height: 1px;
  cursor: pointer;
  transition-duration: .3s;
  background-image: linear-gradient(
    to left,
    #00b3e4,
    color(#fff alpha(.3)) 20%,
    color(#fff alpha(.3)) 80%,
    #00b3e4
  );
  appearance: none;

  &::range-track {
    border: 0;
    background-color: transparent;
  }

  &::range-thumb {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition-duration: .5s;
    border: 1px solid color(#fff alpha(.7));
    border-radius: 50%;
    background-color: #00b3e4;
    appearance: none;

    @media screen and (--mobile) {
      width: 20px;
      height: 20px;
    }

    &:hover {
      transform: scale(1.5);
      border-color: color(#fff alpha(1));
    }
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
}
