<!DOCTYPE html>

<html lang="ru" data-layout="main">

  <head>

    {% include "partials/head.htm" %}

  </head>

  <body>

    <div id="root"></div>

    {% block page %}{% endblock %}

    {% include "partials/scripts.htm" %}

  </body>

</html>